.sotbit_cabinet .wait_pay .widget_button {
	padding: .4375rem .875rem;
}

.wait_pay .widget_button_wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.widget_button_wrapper .widget_button {
	margin-top: 0.75rem;
}