.widget_blank-buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.personal_widget .widget_content.widget_blank-buttons {
	padding: 0;
}
.personal_widget .ladda-button {
	flex-grow: 1;
}

.personal_widget .ladda-button-left {
	margin-right: 0.5rem;
}

@media (max-width: 1450px) {
	.widget_blank-buttons {
		flex-direction: column;
	}
	.widget_blank-buttons button:not(:last-child){
		margin-bottom: 0.75rem;
	}
}

@media (max-width: 760px) {
	.widget_blank-buttons {
		flex-direction: row;
	}
}